* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header-horizontal {
    width: 100%;
}

.suggetions {
    display: none;
}



.instagram-logo-name {
    display: none;
}

.horizontal-header-master-cont {
    display: flex;
}

#header-explore-cont {
    display: none;
}

#header-message-cont {
    display: none;
}

#header-notification-cont {
    display: none;
}

#image-horizonatal-header {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#svg-horizonatal-header {
    width: 22px;
    height: 20px;
}

#a-header-home {
    display: none;
}

.sabkaBaap {

    width: 100%;
    height: 15vw;
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;

}

#header-horizontal-more {
    display: none;
}

.horizontal-header-a {
    display: none;
}


.phone-header {
    width: 100%;
    height: 15vw;
    background-color: black;
    display: flex;
    position: fixed;
    z-index: 100;
}

.phone-header-childe-cont {
    width: 100%;
}

#Layer_2 {
    fill: rgb(255, 255, 255);
    width: 32vw;
    margin-top: 10px;
}

.phone-header-svg-cont-instagram {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-header-search-input {
    background-color: #262626;
    width: 55vw;
    height: 36px;
    border: none;
    border-radius: 8px;
    color: white;

}

.phone-header-childe-cont {
    display: flex;
}

.phone-header-search-input-cont {
    display: flex;
    align-items: center;
    margin-left: 8px;

}

.phone-header-search-input::placeholder {
    color: #a8a8a8a8;
    padding: 0 12px;
}

.horizontal-header-master-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


.notification-phone-svg-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-svg-horizonatal-header {
    height: 23px;
    width: 21px;
}

#svg-horizonatal-header-home {

    width: 25px;
    height: 25px;
}

/*story main body */

.story-image-cont {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.story-image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.story-mainbody{
    background-color: black ;
    height: 300vh;
    padding-top: 18%;
}

.div-story-mainbody {
    padding-top: 20%;
}

.story-childe-cont {
    height: 25vw;
    width: 100%;
    overflow: hidden;

}

.story-image-name-manicont {

    width: 10%;
    height: 100%;
    transition: 1s;
}

.video-information-main {
    display: flex;


}

#name-user-video-dot-svg {
    fill: #a8a8a8a8;
    width: 5px;
    height: 5px;
}

.video-owner-name-reels {
    font-size: 15px;
}

.online-seens-reel {
    font-size: 11px;

}

#slider-container {


    position: relative;
}

#slider {
    display: flex;
    transition: 0.5s;
}

.slide {

    height: auto;
}


/* the upper code is for testing perpose only*/
.video-header-cont-main-container{
    display: flex;
    padding: 0 16px 12px;
}


.owner-image-rells-cont{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.owner-image-rells-cont img{
    width: 100%;
    height: 100%;
}
svg{
    fill: #fff;
}
#more-reels-header{
    fill: rgb(245, 245, 245);

}

.cont-video-owner-aoudio-cont b{
color: white;
}

.video-owner-name-reels{
    font-weight:900 ;

}

.aoudio-maker-origanal{
    font-size: 11px;
}

.more-reels-svg-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33vw;
}

#comment-section-heart-svg{
    width: 24px;
    height: 24px;
}

.svg-cont-comment-sections{
    display: flex;
}

.video-cont-image{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.reels-folloing-cont-video{
    width: 74%;
    background-color: red;
    height: 70vh;
}

.reels-folloing-cont-video img{
width: 100%;
height: 100%;
object-fit: cover;
}

.svg-cont-comment-sections{
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-left: 8px;
}

.cont-comment-section{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.comment-section-save{
    margin-right: 20px;
}


.fillwhite{
    fill: #fff;
}

.x1n2onr6{
    fill:rgb(255, 48, 64);

}

.cont-video-owner-aoudio-cont {
    margin-left: 10px;
}

#HowManylikes p{
    color: #a8a8a8;

}