* {
    padding: 0;
    margin: 0;
}

.header-horizontal {
    width: 100%;
}

.suggetions {
    display: none;
}

.story-mainbody {
    display: none;
}

.instagram-logo-name {
    display: none;
}

.horizontal-header-master-cont {
    display: flex;
}

#header-explore-cont {
    display: none;
}

#header-message-cont {
    display: none;
}

#header-notification-cont {
    display: none;
}

#image-horizonatal-header {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#svg-horizonatal-header {
    width: 22px;
    height: 20px;
}

#a-header-home {
    display: none;
}

.sabkaBaap {

    width: 100%;
    height: 15vw;
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;

}

#header-horizontal-more {
    display: none;
}

.horizontal-header-a {
    display: none;
}


.phone-header {
    width: 100%;
    height: 15vw;
    background-color: black;
    display: flex;

}

.phone-header-childe-cont {
    width: 100%;
}

#Layer_2 {
    fill: rgb(255, 255, 255);
    width: 32vw;
    margin-top: 10px;
}

.phone-header-svg-cont-instagram {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-header-search-input {
    background-color: #262626;
    width: 55vw;
    height: 36px;
    border: none;
    border-radius: 8px;
}

.phone-header-childe-cont {
    display: flex;
}

.phone-header-search-input-cont {
    display: flex;
    align-items: center;
}

.horizontal-header-master-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


.notification-phone-svg-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-svg-horizonatal-header{
    height: 23px;
    width: 21px;
}

#svg-horizonatal-header-home{
    
    width: 25px;
    height: 25px;
}